/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.section- {
  position: absolute;
  width: 100%;
  background: #111;
}
.section-radio {
  display: none;
}
.section-name {
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  font-size: 15px;
  width: 17%;
  height: 40px;
  line-height: 40px;
  position: relative;
  top: 0px;
  z-index: 10;
  background: #111;
  color: #fff;
  display: inline-block;
  text-align: center;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
  box-sizing: border-box;
}
.section-name:hover {
}

.section-one {
  margin-left: 0%;
}
.section-two {
  margin-left: 17%;
}
.section-three {
  margin-left: 34%;
}
.section-four {
  margin-left: 51%;
}
.section-five {
  margin-left: 68%;
  width: 16%;
}
.section-six {
  margin-left: 84%;
  width: 16%;
}





.section-content {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section-inner {
  -webkit-animation: fade-out 0.3s ease-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: fade-out 0.3s ease-out;
  -moz-animation-fill-mode: both;
  -ms-animation: fade-out 0.3s ease-out;
  -ms-animation-fill-mode: both;
  animation: fade-out 0.3s ease-out;
  animation-fill-mode: both;
}
.section-radio:checked + .section-one {
  color: #fff;
  background: #f50;
  cursor: default;
}
.section-radio:checked + .section-two {
  color: #fff;
  background: mediumvioletred;
  cursor: default;
}
.section-radio:checked + .section-three {
  color: #fff;
  cursor: default;
  background: dodgerblue;
}
.section-radio:checked + .section-four {
  color: #fff;
  cursor: default;
  background: hotpink;
}
.section-radio:checked + .section-five {
  color: #fff;
  cursor: default;
  background: green;
}
.section-radio:checked + .section-six {
  color: #222;
  cursor: default;
  background: yellow;
}
.tabbar {
  display: none;
}
.tabbar__content{
  bottom: 0;
}


.section-radio:checked ~ .section-content {
  display: block;
  background: #fff;
}
.section-radio:checked ~ .section-content .section-inner {
  -webkit-animation: fade-in 0.3s ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation: fade-in 0.3s ease-in;
  -moz-animation-fill-mode: both;
  -ms-animation: fade-in 0.3s ease-in;
  -ms-animation-fill-mode: both;
  animation: fade-in 0.3s ease-in;
  animation-fill-mode: both;
}
#loadingModal{display: none;position: fixed;top: 100px;width: 100%;z-index: 100000;}
@-webkit-keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
.circles {
  font-family: sans-serif;
  font-weight: 100;
}
.circles:not(:required) {
  margin: 50px auto 0 auto;
  position: relative;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: hotpink;
  border-radius: 100%;
  -webkit-animation: circles 3s infinite ease-in-out;
  -moz-animation: circles 3s infinite ease-in-out;
  -ms-animation: circles 3s infinite ease-in-out;
  -o-animation: circles 3s infinite ease-in-out;
  animation: circles 3s infinite ease-in-out;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  display: block;
}
.circles:not(:required)::before {
  background: antiquewhite;
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: -10.82532px;
}
.circles:not(:required)::after {
  background: pink;
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: 10.82532px;
}
.warpdiv {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #777;
    text-align: center;
    background: rgba(0,0,0,.6);
    z-index: 999;
    font-size: 13px;
    transition-property: left;
    transition-duration: 0.3s;
    display: none;
}
.warpcontainer {background-color: #f50;position: absolute;color: black;border-radius: 2px;font-size: 16px;padding: 12px;width: 86%;height: 120px;left: 7%;top: 35%;box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;overflow-y: auto;z-index: 1000;box-sizing: border-box;text-align: center;}
/**/
html,body{
    margin: 0;
    padding: 0;
  font-size:13px;
  outline:none;
  overflow-x: hidden;
  width: 100%;
    background-color: #111;
    color: #ccc;
 .sample  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

}
#main_container{
    background-color: #111;
    color: #ccc;

}
input[type=text] {
    transition: all 0.30s ease-in-out;
    outline:none;
}
input[type=text]:focus{
    box-shadow: 0 0 5px pink;
    border: 1px solid pink;
}
dialog{
    height: 100%;
    width: 100%;
    text-align: center;
    color: deeppink;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 32px;
    z-index: 2222;
    box-sizing: border-box;
}
li{
    margin-left: 41px;
    padding-left: 6px;
}
hr{
    margin-top: 24px;
}
.kasen {
    text-decoration: underline;
    letter-spacing: 0.1em;
    color: aquamarine;
}
#mondai_container{
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 38px 12px 12px 18px;
  box-sizing: border-box;
  color: #fff;
}
#main_container{
    position: fixed;
    top: 40px;
    left: 0;
    opacity: 1;
    transition-property: left,opacity;
    transition-duration: 0.4s,0.4s;
    text-transform: none;
}
#kotae_container{
    margin: 0;
}
.kotae_item{
    font-size: 19px;
    line-height: 23px;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.4s;
    word-wrap: break-word;
    height: 24%;
    color: deeppink;
    font-weight: bold;
}
.kotae_item:active{
  background: indigo;

}
.kotae_item_small{
    font-size: 16px !important;
    font-weight: bold;
    line-height: 20px;
    padding: 18px 6px 18px 24px;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.4s;
}
.kotae_item_small:active{
  background: indigo;

}
.kotae_container_small{
      margin-top: -104px;
}
/*.kotae_item:hover{
  background: indigo;
}*/
.kotae_span{
    color:#ccc;
    vertical-align: top;
}
.warpdiv {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -800px;
    color: #777;
    text-align: center;
    background: rgba(0,0,0,0.9);
    z-index: 999;
    font-size: 13px;
    transition-property: left;
    transition-duration: 0.3s;
}
#optcontainer{
  line-height: 42px !important;
}
.warpcontainer {background-color: #fff;position: absolute;color: black;border: 1px solid #ccc;border-radius: 1px;font-size: 16px;padding: 42px 12px 8px 12px;width: 94%;height: 320px;left: 3%;top: 50px;box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;overflow-y: auto;z-index: 1000;box-sizing: border-box;text-align: left;padding-left: 42px;}
#setting_img{
    position: absolute;
    top: 12px;
    right: 54px;
    padding: 4px;
    cursor: pointer;
    opacity: 0.4;
}
#list_img{
    position: absolute;
    top: 12px;
    right: 4px;
    padding: 4px;
    cursor: pointer;
    opacity: 0.4;
}
.info_label{
    position: absolute;
    top: 2px;
    left: 5px;
    color: steelblue;
    font-size: 13px;
    z-index: 1000;
}
#reibun_container{
    font-size: 16px;
    line-height: 1.6;
    padding: 12px 8px 36px 12px;
    box-sizing: border-box;
    text-transform: none;
    color: #aaa;
}


.reibun_item{

}
.reibun_jp{
    margin-top: 24px;
}
#kaisetsu_container{
    font-size: 16px;
    padding: 24px 12px 4px 12px;
    box-sizing: border-box;
    text-transform: none;
    text-align: center;
    height: 60px;
    background: #222;
    color: #fff;
    box-sizing: border-box;
}
/* #setting_img:hover{
  background: orange;
}
 */
#helpcontainer {
    overflow-x: hidden;
    line-height: 2.5;
    font-size: 18px;
    color: lightsteelblue;
    padding-left: 18px;
    top: 140px;
    background: #333;
    border: 0;
    padding-top: 11px;
    width: 95%;
}
.list_item{
    transition-property: background;
    transition-duration: 0.2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 100%;
}
.btn_container{
  position: relative;
  width: 100%;
}
.search_input{
  color: #000;
  font-size: 18px;
  height: 40px;
  outline: none;
  padding: 0 0 0 6px;
  width: 90%;
  max-width: 380px;
  border-radius: 3px;
  border: 1px solid orange;
  border-color: transparent;
  text-transform: none;
  box-sizing: border-box;
  bottom: 5px;
}
.search_container{
  top: 91px;
  position: absolute;
  width: 95%;
  height: 49px;
  padding: 4px;
  background: cornflowerblue;
  left: 3%;
  box-sizing: border-box;
}
#kotae_houhou{
  height: 38px;
  width: 90px;
}
.kotae_input_container{
   display: none;
   text-align: center;
   margin-top: 2%;
}
#info_labelhnabi{
    position: absolute;
    top: 62px;
    right: 5px;
    color: deeppink;
    font-size: 12px;
    z-index: 1000;
}
#info_labelhnabi2{
    position: absolute;
    top: 62px;
    left: 0px;
    color: #aaa;
    font-size: 12px;
    z-index: 1000;
    padding: 1px;
    color: tomato;
}
#info_labelhnabi3{
    position: absolute;
    bottom: 12px;
    left: 0px;
    color: #444;
    font-size: 10px;
    z-index: 1000;
    padding: 0;
    text-transform: none;
}
#mainCanvas{
}













#dict_button_container{
  text-align: center;
  padding: 32px 6px;
  box-sizing: border-box;
  display: none;
}
#dict_create_button{
  font-size: 16px;
  padding: 12px 3px;
}
#dict_main_container{
    display: none;
}
.dict_search_input{
  color: #000;
  font-size: 18px;
  height: 40px;
  outline: none;
  padding: 0 0 0 8px;
  width: 98%;
  border-radius: 3px;
  border: 1px solid orange;
  text-transform: none;
  box-sizing: border-box;
}
.dict_wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.dict_section- {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.dict_section-radio {
  display: none;
}
.dict_section-name {
  border-right: 1px solid #333;
  font-size: 13px;
  padding: 16px 4px;
  width: 50%;
  position: relative;
  top: 0px;
  z-index: 10;
  background: #111;
  color: #fff;
  display: inline-block;
  text-align: center;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
  box-sizing: border-box;
}
.dict_section-one {left: 0;margin-left: 0;}

.dict_section-two {
  margin-left: 50%;
}
.dict_section-content {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dict_section-inner {
  -webkit-animation: fade-out 0.3s ease-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: fade-out 0.3s ease-out;
  -moz-animation-fill-mode: both;
  -ms-animation: fade-out 0.3s ease-out;
  -ms-animation-fill-mode: both;
  animation: fade-out 0.3s ease-out;
  animation-fill-mode: both;
}
.dict_section-radio:checked + .dict_section-one {
  color: #fff;
  background: #f50;
  cursor: default;
}
.dict_section-radio:checked + .dict_section-two {
  color: #fff;
  background: deeppink;
  cursor: default;
}
.dict_section-radio:checked ~ .dict_section-content {
  display: block;
  text-transform: none;
  box-sizing: border-box;
  position: relative;
}
.dict_section-radio:checked ~ .dict_section-content .dict_section-inner {
  -webkit-animation: fade-in 0.3s ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation: fade-in 0.3s ease-in;
  -moz-animation-fill-mode: both;
  -ms-animation: fade-in 0.3s ease-in;
  -ms-animation-fill-mode: both;
  animation: fade-in 0.3s ease-in;
  animation-fill-mode: both;
}
#dict_loadingModal{display: none;position: fixed;top: 100px;width: 100%;height: calc(100% - 100px);z-index: 100000;}
#progress_info{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
  color: #000;
  text-transform: none;
}
@-webkit-keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes circles {
  0% {
    -webkit-transform: rotate(-720deg);
    -moz-transform: rotate(-720deg);
    -ms-transform: rotate(-720deg);
    -o-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }

  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
.circles {
  font-family: sans-serif;
  font-weight: 100;
}
.circles:not(:required) {
  margin: 70px auto 0 auto;
  position: relative;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: hotpink;
  border-radius: 100%;
  -webkit-animation: circles 3s infinite ease-in-out;
  -moz-animation: circles 3s infinite ease-in-out;
  -ms-animation: circles 3s infinite ease-in-out;
  -o-animation: circles 3s infinite ease-in-out;
  animation: circles 3s infinite ease-in-out;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  display: block;
}
.circles:not(:required)::before {
  background: antiquewhite;
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: -10.82532px;
}
.circles:not(:required)::after {
  background: pink;
  border-radius: 100%;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18.75px;
  left: 10.82532px;
}
.search_input{
  color: #000;
  font-size: 18px;
  height: 40px;
  outline: none;
  padding: 0 0 0 6px;
  width: 90%;
  max-width: 380px;
  border-radius: 3px;
  border: 1px solid orange;
  border-color: transparent;
  text-transform: none;
  padding-right: 40px;
  box-sizing: border-box;
}
.dict_search_btn{
    position: absolute;
    z-index: 100;
}
.dict_search_input_container{
  margin: 0;
  padding: 4px;
  text-align: center;
  background: #f50;
}
.kdict_search_input_container{
  margin: 0;
  padding: 4px;
  text-align: center;
  background: deeppink;
}
.fd {
    position:absolute;
    z-index:2147483647;
    top:0;
    left:0;
    border: 1px solid orange;
    background:#ffffff;
    font-size: 18px;
    text-transform: none;
}
.sjstwd {
    cursor:default;
    padding: 11px 0 11px 6px;
    color:#000000;
    background:#ffffff;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
}
.sjstwd.selected{
    background:#0080a5;
    color:#fff
}
.search_item_container{padding: 12px;}
#search_dict_title{font-size: 17px;margin: 18px 0 18px 0;color: #fff;}
#search_dict_yomi{font-size: 15px;color: deeppink;margin: 3px 0 42px 0;}
#search_dict_imi{font-size: 16px;color: #aaa;}





#ksearch_item_container{
  padding: 0;
  margin: 0;
  position: relative;
}
.dict_yomi{
  color: deepskyblue;
  padding-left: 18px;
  font-size: 13px;
}
#hw_kanji_container{
  background: #fff;
    height: 100px; 
}
#hw_kanji_result_container{
    height: 100px;
    background: #222;
    overflow: auto;
    color: deeppink;
}
.hw_info_k_lbl{
  top: 0;
  left: 0;
  position: absolute;
  color: #fff;
  background: #aaa;
  font-size: 13px;
  padding: 1px 1px;
}
.hw_clear_k_lbl{
  top: 0;
  right: 0;
  position: absolute;
  background: orange;
  color: #fff;
  font-size: 16px;
  padding: 10px 16px;
}





#kanji_dict_display{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: #fff;
  color: #000;
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#svg_container{
  width: 98%;
  height: 64%;
  position: relative;
  background: #fff;
  color: #fff;
}
svg{
  width: 100%;
  height: 100%;
}
#ksearch_dict_kyomi{
  font-weight: normal;
  font-size: 15px;
  padding: 3px;
}
#ksearch_dict_oyomi{
  font-weight: normal;
  font-size: 15px;
  padding: 3px;
}
#ksearch_dict_vyomi{
  font-weight: normal;
  font-size: 15px;
  padding: 3px;
}
#ksearch_dict_vimi{
    font-weight: normal;
    font-size: 15px;
    padding: 3px;
}
[class*='close-'] {
  color: #888;
  font: 18px/100% arial, sans-serif;
  position: absolute;
  right: 4px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 4px;
}

.close-classic:after {
  content: 'X'; /* ANSI X letter */
}

.close-thin:after {
  content: 'ÃƒÆ’Ã¢â‚¬â€'; /* UTF-8 symbol */
}

.close-thik:after {
  content: 'X'; /* UTF-8 symbol */
}
.hw_suggest_kanji{font-size: 20px;padding: 16px;display: inline-block;}
.reibun_jp_hiragana{
  background: slategrey;
  color: #fff;
  font-size: 11px;
  padding: 4px 6px;
  border-radius: 2px;
}
.kotae_jp_hiragana{
  background: #444;
  color: #fff;
  font-size: 11px;
  padding: 10px 6px;
  border-radius: 2px;
  vertical-align: bottom;
  margin-left: 16px;
}
